@media (max-width : 1200px){
    .nav-toogleBtn {
        display: block;   
    }
    nav {
        height: 60px;
        width : 100%;
    }
    .nav_in {
        height: 60px;
        display: flex;
        flex-direction: column;
        line-height: 60px;
    }
    nav h1 {
        align-self: flex-start;
    }
    nav ul  {
        display : none;
        flex-direction: column;
        align-self: flex-end;
        line-height: 30px;
        background-color: black;
        text-align: center;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

}
@media (max-width: 480px){
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
}