* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
img,video {
    vertical-align: top;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
}
#wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}
header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    height:80px;
    transition-duration:0.4s;
    transition-timing-function:ease;
    z-index : 500;
    /* background-color: rgba(255,255,255,0.2); */
}

.header_in {
    width: 1100px;
    height: 80px;
    display: flex;
    margin : 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
  /* .header_in:before {
    content : "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    top :40px;
}   */
.logo {
    padding-left: 20px;
}
.logo a{
    display: block;
    width: 160px;
    height: 34px;
    text-indent: -987987px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin-bottom: 6px;
}
.nav ul {
    display: flex;
    padding-right: 20px;
}
.nav ul li {
    margin-left: 70px;
}
.nav li a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color : #494846;
    padding : 5px 10px;
    transition : transform 0.25s ease;
}
.nav li a:hover {
    transform: scale(1.05);
}
.nav li a:active {
    transform: scale(0.9);
}
.toggle-menu {
    display: none;
}
.menu-drawer {
    display: none;
}
.down {
    background-color:rgba(0,0,0,.8);
    transition-duration:0.4s;
    transition-timing-function:ease;
}
.down .nav ul li a{
    color: #fafafa;
}
.down .logo a {
    background-image: url(../img/logo_white.png);
}
.safe_size {
    width: 1100px;
    margin : 0 auto;
}
.main1 {
    background-image: url(../img/home_bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}
.m1_text {
    width: 100%;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.m1_text .m1t1 {
    color : #494846;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 35px;
}
.m1_text .m1t2 {
    color : #494846;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2em;
}
.scroll_down {
    position: absolute;
    bottom: 8%;
    left : 50%;
    transform: translateX(-50%);
    padding-top: 60px;
}
.scroll_down span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #494846;
    border-radius: 50px;
}
.scroll_down span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #494846;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.main2 {
    padding-top: 120px;
    margin-bottom: 120px;
}
.main2 h1{
    text-align: center;
    color : #494846;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
}
.m2_box {
    display: flex;
}
.m2boxL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.m2boxL .profile {
    margin-top: 45px;
}
.profile ul li {
    display: flex;
    margin-bottom: 20px;
}
.profile li .ptitle {
    padding-left : 16px;
    width: 70px;
    margin-right: 20px;
    color : #494846;
    font-size: 16px;
    font-weight: 700;
}
.profile li .ptext {
    color : #494846;
    font-size: 16px;
    font-weight: 400;
}
.m2boxR {
    width: 60%;
    margin-left: 66px;
}
.edu h3, .cer h3, .sw h3 {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.1em;
    color : #494846;
    margin-bottom: 25px;
}
.edu {
    margin-bottom: 38px;
}
.edu ul {
    margin-left: 2px;
}
.edu li {
    display: flex;
}
.m2boxR .date {
    width: 70px;
    font-size: 16px;
    font-weight: 700;
    color : #494846;
    margin-right: 40px;
}
.m2boxR li:last-child .date {
    margin-bottom: 0;
}
.edu li .edutext, .cer li .edutext {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color : #494846;
}
.cer {
    margin-bottom: 38px;
}
.cer ul {
    margin-left: 2px;
}
.cer li {
    display: flex;
}
.sw ul{
    display: flex;
}
.sw li {
    margin: 0 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sw li span {
    color : #494846;
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
}
.second {position:relative; width: 84px;}
.second > canvas {
    width: 100%;
}
.second > strong {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    font-size:20px;
}
.main3 {
    background-image: url(../img/portfolio_bg.jpg);
}
.main3 h1, .main4 h1 {
    padding-top: 80px;
    text-align: center;
    color : #494846;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
}
.main3 .ikea, .iljin, .twosome {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 186px;
}
.iljin { 
    padding-bottom: 100px;
    margin-bottom: 0;
}
.mockupImg {
    width: 433px;
}
.mockupImg img {
    width: 100%;
    height: auto;
}
.ikea .ikeaText,
.twosome .twosomeText,
.iljin .iljinText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}
.ikeaText h3,
.twosomeText h3,
.iljinText h3 {
    font-size: 33px;
    font-weight: 700;
    color : #494846;
    margin-bottom: 45px;
}
.ikeaText ul li,
.twosomeText ul li,
.iljinText ul li{
    display: flex;
}
.porfoTitle {
    width: 70px;
    margin-right: 69px;
    font-size: 16px;
    font-weight: 700;
    color : #494846;
}
.porfoText {
    font-size: 16px;
    font-weight: 400;
    color : #494846;
    margin-bottom: 20px;
}
.btn {
    margin-top: 10px;
    display: flex;
}
.btn1 {
    margin: 0 10px;
}
.btn1 a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color : #494846;
    width: 150px;
    height: 50px;
    border : 1px solid #494846;
    border-radius: 5px;
    text-align: center;
    line-height: 48px;
    transition : .5s;
}
.btn1 a:hover {
    border : 1px solid #999;
    box-shadow: 0 0 11px rgba(33,33,33,.7); 
}
.btn22{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.btn2 a{
    display: block;
    font-size: 12px;
    font-weight: 700;
    color : #494846;
    width: 100px;
    height: 45px;
    border : 1px solid #494846;
    border-radius: 5px;
    text-align: center;
    line-height: 43px;
    transition : .5s;
}
.btn2 a:hover {
    border : 1px solid #999;
    box-shadow: 0 0 11px rgba(33,33,33,.7); 
}
.main4 {
    background-image: url("../img/contact_bg.jpg");
    padding-bottom: 70px;
}
.conbox ul li {
    display: flex;
    justify-content: center;
}
